
<div class="row">
    <div class="col-xs-12 col-md-12">
       <div class="panel panel-default">
           <div class="panel-heading">
               <a class="btn btn-default" href="@Url.Action("Create")">Nuevo</a>
           </div>
        <div class="panel-body" id="panel">
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>
       
    </div>
</div>
<script>
    var _heightGrid = getHeightForResize(75);
    var _widthPanel = $("#panel").width();

    $(document).ready(function () {
        $("#jqGrid").jqGrid({
            url: '@Url.Action("ListarBandeja","Account")',
            mtype: "POST",
            datatype: "json",
            styleUI: 'Bootstrap',
            colModel: [
                   {
                       label: "Edit Actions",
                       name: "actions",
                       width: 100,
                       formatter: "actions",
                       formatoptions: {
                           keys: true,
                           editOptions: {
                               url: '',
                               mtype: 'GET',
                               onclickSubmit: function (eparam) {

                               }
                           },
                           addOptions: {},
                           delOptions: {}
                       }
                   },
                { label: 'OrderID', name: 'AccountId', key: true, width: 75 },
                { label: 'Customer ID', name: 'FirstName', width: 150 },
                { label: 'Order Date', name: 'LastName', width: 150 },
                { label: 'Freight', name: 'Freight', width: 150 },
                { label: 'Ship Name', name: 'ShipName', width: 150 }
            ],
            page: 1,
            height: (_heightGrid - 240),
            width: _widthPanel,
            rowNum: 25,
            scrollPopUp: true,
            scrollLeftOffset: "83%",
            viewrecords: true,
            rowNum: 20,
            rowList: [10, 20, 30],
            pager: "#jqGridPager"
        });
    });
</script>
