/*Formato de datalist empleados, alumnos*/
.item {
    width: 210px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 8px 2px #ccc;
    margin-bottom:10px;
}

    .item .header {
        height: 30px;
        background-color: #366082;
        color: #fff;
    }

    .item .body {
        width: 160px;
        height: 165px;
        padding:10px;
    }

    .item .image {
        
        height: 68px;
        width: 68px;
        box-shadow: 2px 2px 8px 2px #ccc;
        border-radius: 4px;
    }

    .item .footer {
        height: 20px;
         background-color: #366082;
        color: #fff;
       
    }